---
title: About Me
layout: layout.njk
---


  <main class="container py-8">
    <h1 class="text-center text-5xl">Hi! I'm Sarah and I'm a baker!</h1>
    <section class="text-gray-700 body-font">
            <div class="container flex flex-col items-center px-5 py-16 mx-auto lg:px-20 lg:py-36 md:flex-row">
                <div class="w-5/6 mb-10 lg:max-w-lg lg:w-full md:w-1/2 md:mb-0">
                    <img class="object-center max-w-xs	 mb-6 rounded" alt="hero" src="/assets/sarah.jpg">
                </div>
                <div
                    class="flex flex-col items-center text-center lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 md:items-start md:text-left">
                    <p class="mb-2 text-base leading-relaxed text-center text-gray-700 lg:text-left lg:text-xl">
                        "Baking has been my passion ever since I was a little girl. From many batches of perfectly dreadful cookies and cakes that looked like they were going to sink right through
                        it took me years and years of practice to perfect all the home favourite recipes, enough to bring in a taste of high quality while retaining the homey feel that reminds us all
                        of grandma's kitchen. Check out my blog every week for new recipes and reach out to me on my social platforms to connect and share our baking experiences!"</p>

                </div>
            </div>
        </section>
  </main>
